@using WebSiteOrgStructure.Dtos;

@model UserReadDto

@{
    ViewData["Title"] = "Редактирование информации о сотруднике";
}
<form asp-controller="User" asp-action="Update">
    <div>
        @Html.HiddenFor(m => m.Id)
    </div>
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new {@required="required" } })
    </div>
    <div>
        @Html.LabelFor(model => model.Surname)
        @Html.EditorFor(model => model.Surname)
    </div>
        <div>
        @Html.LabelFor(model => model.Mail)
        @Html.EditorFor(model => model.Mail)
    </div>
    <div class="dropDown">
        @Html.LabelFor(model => model.DepartmentName)
        @Html.DropDownList("DepartmentName", ViewBag.Departments as SelectList)
    </div>
    <div class="dropDown">
        @Html.LabelFor(model => model.Role)
        @Html.DropDownList("Role", ViewBag.Roles as SelectList)
    </div>
    <div>
        <input type="submit" value="Редактировать" />
    </div>
</form>
